@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.areaGeral {
  display: flex;
  max-width: 1100px;
}
.area {
  width: 198px;
}
.sidebar {
  width: 198px;
  height: 739px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(120.28deg, #dc2d64 41.47%, #e71d36 105.51%);
}

.top-area p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  font-weight: 400;
  color: #fff;
}

.top-area h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

#avatar {
  padding-top: 49px;
  padding-bottom: 25px;
}
.link-img img {
  margin-left: 40px;
  margin-top: 40px;
}

.link {
  width: 140px;
  height: 214px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  margin-top: -52px;
  padding-right: 40px;
  font-size: 16px;
}

.link a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 25px;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.campanha {
  font-family: "Montserrat", sans-serif;
}

a.semibold {
  padding-left: 30px;
}

.semibold {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  margin-left: 82px;
  padding-right: 120px;
}

.gerenciar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  text-decoration: none;
  color: #fff;
  margin-top: -20px;
  padding-bottom: 30px;
  margin-left: 24px;
  padding-right: 40px;
}

.linha {
  margin-top: 130px;
}

.linha img {
  margin-top: 35px;
  margin-left: 5px;
}

hr {
  color: rgb(255, 255, 255);
  width: 150px;
}

.sair {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
  margin-top: -26px;
}

.main h1,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 40px;
}

h4 {
  font-family: "Mulish", sans-serif;
  margin-top: 10px;
}
.area-2 {
  max-width: 1100px;
  margin-top: 40px;
  margin-left: 125px;
}
.areaTitulo {
  display: flex;
  width: 100%;
  height: 60px;
}

.areaTitulo h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.areaTitulo h3 strong {
  font-family: "Poppins", sans-serif;
  color: #ef024d;
}

.titulo {
  width: 500px;
  height: 80px;
}
.imgs {
  display: flex;
  margin-left: 600px;
  align-items: center;
}

.imgs img {
  padding-left: 20px;
}
.area-3 {
  display: block;
}

.cards {
  display: flex;
  height: 342px;
  justify-content: space-between;
  padding-top: 100px;
}
.cards, h3 p {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}

.cards h3 {
  font-size: 23px;
  margin-left: 30px;
  margin-top: 50px;
}

.cards p {
  font-size: 14px;
  margin-left: 30px;
}

.card1, .card2, .card3 {
  width: 304px;
  height: 167px;
  background: linear-gradient(120.28deg, #dc2d64 41.47%, #e71d36 105.51%);
  border-radius: 6px;
}

.banner {
  width: 1100px;
  height: 270px;
  background: linear-gradient(120.28deg, #dc2d64 41.47%, #e71d36 105.51%);
  border-radius: 8px;
}

.banner h1 {
  font-family: "Poppins", sans-serif;
  font-size:32px;
  line-height: 41px;
}

.banner p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.banner img {
  margin-left: 790px;
  margin-top: -186px;
}

.infosbanner, h1 p {
  color:#01FFFF;
  margin-left: 65px;
  
}
.banner, .infosbanner {
  padding-top: 50px;
}

.infosbanner, h1 p {
  color: #ffffff;
  margin-top: 5px;
}